# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build folders & artifacts
/ios
/android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
credentials.json
*credentials*.md
@uwo__*
*.mobileprovision
*.pem
*.apk
*.aab
*.app/
AILEGAL.app/
*.dylib
*.ipa
*.tar.gz

# Metro & Bundler
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment files
.env
.env.*
.env*.local
*.env
!.env.example

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# macOS / Windows OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# TypeScript
*.tsbuildinfo

# Coverage & Testing
coverage/

# Local archives / custom ignores
archive/

